* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #000000;
    border-bottom: 3px solid white;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav a:hover {
    color: blue;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials img {
    cursor: pointer;
    width: 25px;
}

.container-video video {
    max-width: 100%;
}


.productos {
    display: grid;
    /* Activamos Grid */
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas iguales */
    gap: 60px;
    /* Espacio entre productos */

    background-color: #000;
    /* Fondo negro */
    padding: 80px;
    border-bottom: 3px solid white;
}

/* =========================
   TARJETA DE CADA PRODUCTO
   ========================= */
.producto {
    display: flex;
    /* Flexbox para ordenar el contenido */
    flex-direction: column;
    /* De arriba hacia abajo */
    align-items: center;
    /* Centrar horizontalmente */
    gap: 30px;
    /* Espacio entre imagen, texto y botón */
    color: white;
    text-align: center;
    min-height: 600px;

}

/* =========================
   IMAGEN DEL PRODUCTO
   ========================= */
.boton-producto {
    display: flex;

    align-items: center;
    max-height: 300px;
    /* Limita el tamaño */
    width: auto;
    text-align: center;
    margin-top: auto;


}

/* =========================
   TEXTO DEL PRODUCTO
   ========================= */
.producto h2 {
    display: flex;
    align-items: center;
    min-height: 90px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    /* Importante para textos con varias líneas */
}

/* =========================
   BOTÓN
   ========================= */
.boton-producto a {
    background-color: #0033ff;
    text-decoration: none;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #001fcc;
}

footer {
    background-color: #000000;
    border-bottom: 3px solid white;
}

.container-footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.footer-text h2 {
    display: flex;
    padding-top: 50px;
    color: white;
    font-weight: 1200;
    font-size: large;
}

.footer-text h2:hover {
    color: blue;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 70px;
}


.nav-footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-footer a:hover {
    color: blue;
}

.socials-footer {
    display: flex;
    gap: 15px;
}

.socials-footer img {
    cursor: pointer;
}

/* =========================
   RESPONSIVE (TABLET / MÓVIL)
   ========================= */
@media (max-width: 900px) {
    .productos {
        grid-template-columns: 1fr;
        /* Una columna */
    }

    .producto img {
        
    }
}