* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo Black;
    font-weight: bold;
}

body{
    background-color: black;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Pepsi';
    src: url('./fonts/PEPSI_pl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #000000;
    border-bottom: 3px solid white;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav a:hover {
    color: blue;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials img {
    cursor: pointer;
    width: 25px;
}

.container-video video {
    max-width: 100%;
}


.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    background-color: #000;
    padding: 80px;
    border-bottom: 3px solid white;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    text-align: center;
    min-height: 600px;

}

.boton-producto {
    display: flex;
    align-items: center;
    max-height: 300px;
    width: auto;
    text-align: center;
    margin-top: auto;
}

.producto h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
}

.boton-producto a {
    background-color: #0033ff;
    text-decoration: none;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #001fcc;
}

footer {
    background-color: #000000;
    border-bottom: 3px solid white;
}

.container-footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.pepsi-text h2 {
    display: flex;
    padding-top: 50px;
    color: white;
    font-family: 'Pepsi';
    font-size: 3ch;
}

.pepsi-text h2:hover {
    color: blue;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 70px;
}


.nav-footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-footer a:hover {
    color: blue;
}

.socials-footer {
    display: flex;
    gap: 15px;
}

.socials-footer img {
    cursor: pointer;
}

.copy-text h2 {
    display: flex;
    color: rgb(47, 51, 78);
    padding-bottom: 30px;
    font-size: medium;
    font-family: 'Pepsi';
}

@media (max-width: 900px) {
    .productos {
        grid-template-columns: 1fr;
    }

    .container nav {
        align-items: center;
        min-height: 10px;
    }

    .nav-footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .boton-producto {
        margin-top: 0%;
    }
}

@media screen and (max-width: 576px) {

    .container nav {
        flex-direction: column;
        align-items: center;
    }
}